<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Conforming HTML 4.01 Strict Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <style type="text/css">
        html {
            color: #000;
            background: #FFF
        }

        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
            margin: 0;
            padding: 0
        }

        table {
            border-collapse: collapse;
            border-spacing: 0
        }

        fieldset, img {
            border: 0
        }

        address, caption, cite, code, dfn, em, strong, th, var {
            font-style: normal;
            font-weight: normal
        }

        ol, ul {
            list-style: none
        }

        * {
            font-size: 8px !important;
        }

        .table_head th, .table_head td {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            padding: 5px;
            text-align: center;
            font-size: 14px;
        }

        .table_head th {
            font-weight: 600;
        }

        .table_head td {
            font-weight: 400;
        }
    </style>
</head>
<body>

    <!-- header -->
    <table style="width: 100%; margin-top: 50px">
        <tr>
            <td>
                <img src="{{ public_path }}/logo.png">
            </td>
            <td style="width: 55%">
                <p>ООО «ТРАК-ПРАЙС»</p>
                <p>630099, г. Новосибирск, ул.Военная, 4, ОФ. 305</p>
            </td>
        </tr>
    </table>

    <h1 style="background: red; color: #fff; font-weight: 400; margin-top: 24px; margin-bottom: 12px; padding-top:5px; padding-bottom: 5px; text-align: center;">Спецификация на шасси</h1>

    <table cellspacing="0" cellpadding="2" border="0" width="100%">
        {% for item in params %}
        <tr>
            {% if item.1 is empty  %}
            <td colspan="2" style="padding-top: 12px; text-align: center; color: red; font-weight: 700; ">{{ item.0 }}</td>
            {% else %}
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>