{% extends "admin.layouts.app" %}

{% block title %}Телефоны{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Добавить новый телефон</h1>

            <form method="post" action="{{ route('admin_phones_insert') }}">
                {{ csrf_field() }}
                <div class="form-group">
                    <label>Номер телефона <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="phone" value="" required>
                    <span class="help-block">Добавьте номер телефона в произвольной форме</span>
                </div>

                <div class="form-group">
                    <label>Источник телефона <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="vendor" value="" required>
                </div>

                <div class="form-group">
                    <label>Область <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="group_city" value="" required>
                </div>

                <div class="form-group">
                    <label>Город</label>
                    <input type="text" class="form-control" name="city" value="">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="hidden" name="is_sib" value="0">
                        <input type="checkbox" name="is_sib" value="1"> Сибирский регион
                    </label>
                </div>

                <div class="form-group">
                    <label>Примечание</label>
                    <textarea class="form-control" rows="7" name="comment"></textarea>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}