{% extends "front.layouts.app" %}

{% block content %}
    <div class="jumbotron">
        <h2>РЕГЛАМЕНТЫ АВТОСЕРВИСА</h2>
    </div>

    <div class="row">
        <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Ответственный</th>
                        <th>Регламент</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-nowrap">Владимир</td>
                            <td>В автосервисе должна проводиться ежедневная уборка</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Сергей</td>
                            <td>{{ item.worker }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}