<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>Заявки ожидающие звонка</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>Заявки ожидающие звонка</h2>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Добавлен</th>
                    <th>Источник</th>
                    <th>Регион</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>+7{{ item.number }}</td>
                        <td>{{ item.created_at | date ("d.m.Y H:i") }}</td>
                        <td>{% if item.vendor is not empty %}{{ item.vendor }}{% else %}не указан{% endif %}</td>
                        <td>{% if item.group_city is not empty %}{{ item.group_city }}{% else %}не указан{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        location.reload()
    }, 60000);
</script>
</body>
</html>